{% extends 'dashboard/instructor/base.html' %}


{% block body %}

<div class="container-fluid">
    <div class="row">

            <div class="col-sm-6 my-3">

        <div class="card mb-5">
            <div class="card-body">

                <div class="row bg-light">
                    <div class="card col-sm-12">
                        <div class="card-header bg-primary text-white">
                            <h4 class="text-center mb-0">Post New Announcement</h4>
                        </div>
                    </div>

                    <div class="col-sm-10 offset-sm-1">
                        <div class="myform p-3">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <div class="text-center mt-3">
                                    <input type="submit" value="Post" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-2">
    </div>

</div>



  <<style>
    .card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      border-radius: 5px 5px 0 0;
    }

    .myform {
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-control:focus {
        border-color: #6c757d;
        box-shadow: none;
    }

    input[type=submit] {
        width: 100%;
    }

</style>

{% endblock body %}